{% extends '@frontend/base.html.twig' %}

{% block body %}

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home page</h1>
        </div>
    </div>
    <!-- /.row -->

    {% if results is not empty %}
        {% set count = 0 %}
        {% for key,item in results %}
            <!-- Projects Row -->
            {% if count % 3 == 0 %}
            <div class="row">
            {% endif %}
                {% set count = count + 1 %}
                <div class="col-md-4 portfolio-item">
                    <a href="{{ path('news_detail_page', {'slug' : item.slug }) }}" title="{{ item.name }}">
                       <!--<img class="img-responsive" src="{{ item.file ? item.file.file() | imagine_filter('news_thumb') : '' }}" itemprop="thumbnail" alt="">-->
                       <img class="img-responsive" src="{{ item.file ? item.file.file() | imageStyle('news_crop_thumb', 360, 206) : '' }}" itemprop="thumbnail" alt="">
                        <!--<img class="img-responsive" src="{{ asset('uploads/news/2017/09/11/aab16f5e0b641629fb1c6392cb9469c7.png' ) | imagine_filter('news_thumb') }}" itemprop="thumbnail" alt="">-->
                    </a>
                    <h4>
                        <a href="{{ path('news_detail_page', {'slug' : item.slug }) }}">{{ item.name }}</a>
                    </h4>
                    <p>{{ item.description }}</p>
                </div>
            {% if count % 3 == 0  %}
            </div>
            {% endif %}
        {% endfor %}
    <!-- /.row -->
    {% endif %}


    <hr>


{% endblock %}